html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background: #f6f6f6; 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}
h1, h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
h1 {
    font-size: 7rem;
    line-height: 0.85;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.4rem;
}

/* links */
a {
    color: #3c8453;
}
a:hover {
    color: #bcaa96;
    text-decoration: none;
}
footer a {
    color: #bcaa96;
}
footer a:hover {
    color: #3c8453;
}
.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 90px 220px 100px 150px;
    max-width: 900px;
   
}


.home {
    background: url(../images/ezgif.com-gif-maker.gif) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.home .content-wrapper {
    flex: 1 0 auto;
}
.content-bg{
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
    text-align: justify;
    
}
.content-bg h3, a {
    text-align: center;
    margin: 0;
    text-decoration: none;
}
@media screen and (max-width:650px){
    .home .content-wrapper {
        padding: 10px;
    }
    .content-bg {
        padding: 20px;

    }
    h1 , h2 {
        /* max-width: 100%; */
        font-size: 5rem;
        /* margin: 0; */
    }
}








/* FOOTER
------------------------------------*/
footer {
    /* background: #222; */
    color: #d3d4d6;
}
.socials {
    list-style-type: none;
    padding: 0;
    /* margin: auto; */
}
.socials li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    /* padding: 0%; */
    
}
.socials img {
    width: 42px;
}
.socials img:hover {
    opacity: 0.7;
}

@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px){
    footer {
        text-align: center;
        padding: 10px;
    }

}